<header>
    <h1><%= head%></h1>
    <ul class="navbar">
        <li class="navbar-item"><a href='/customers'>Customer</a></li>
        <li class="navbar-item"><a href='/customer-feedback/feedbacks'>Feedback</a></li>
    </ul>
</header>