:root {
  --theme-color:#f3558e;
  --theme-color2:#581b98;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
 
}
/* logo */
#logo {
  position: absolute;
  top: 5px;
  left:50px;
  z-index:2;
  cursor: pointer;
  z-index: 2;
}

/* Loader */
#load {
  position: absolute;
  top: 50%;
  left: 48%;
  z-index: 99;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--theme-color);

}
/* Header */

.navbar {
  position: fixed;
  top: 0px;
  right: 5px;
  z-index: 2;
  background: none;
  width: 300px;
  height: 100vh;
  overflow: hidden;
  font-weight: 800;
  /* background: rgba(0,0,0,.4); */
  background: var(--theme-color);
  border: 1px solid var(--theme-color);
}
.navbar li{
  margin-top: 20px;
  font-size: 20px;
  /* color: rgba(241,196,15,1); */
  color:#fff;
  font-weight: bold;
  padding: 50px;
  padding-left: 80px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
}
.navbar-icon,.navbar-icon-hide {
  font-size: 30px;
  color:#fff;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 999;
  
}
.navbar-icon-hide {
  left: 15px;
}

/* video */

.video-section {
 position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: none;
}
.video-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0e153a;
  opacity: 0.5; 
  z-index: 1;
}
.video-Container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Intro Text */

.intro {
   position: absolute;
   top: 280px;
   left: 50px;
   z-index: 1;
}
.intro h1 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.count {
  color: var(--theme-color);
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 800;
}
.countTxt {
  font-size: 35px;
  letter-spacing: 1px;
  color: var(--theme-color);
}
.btn-see {
  margin-top: 15px;
  width: 150px;
  height: 50px;
  background:none;
  border: 1px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
  color:#fff;
  margin-left: 250px;
}

/* ImgContainer */  
.newMenu,.delivery {
  position: relative;
  text-align: center;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px #333333;
  cursor: pointer;
  letter-spacing: 2px ;
  color: var(--theme-color2);
}
.newMenu:before,.delivery:before {
  content: '';
  position: absolute;
  top: 0;
  left: 165px;
  width: 150px;
  height: 10px;
  background: var(--theme-color2);
  border-radius: 15px;
  transition: .5s ease-in-out;
}
.newMenu:hover:before,.delivery:hover:before {
  content: '';
  left: 0;
  width: 100%;
}
.wave {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 40%;
  left: -100%;
  transform: scale(3);
  z-index: -1;
  animation: wave 10s infinite alternate;
}
@keyframes wave {
  0%{
    left:-100%;
  }
  100% {
    left:50%;
  }
}
.delivery .car {
  width: 200px;
  animation:animateCar 10s ease infinite alternate;
}

@keyframes animateCar {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Order */
.order_section {
  position: relative;
  line-height: 80px;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  color: var(--theme-color2);
}
.line {
  width: 250px;
  height: 5px;
  background: var(--theme-color2);
}
.order_section:before {
  content: '';
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 3px;
  background: var(--theme-color2);

}
.order_list {
  display: flex ;
  width: 250px;
  height: 100px;
  border-radius: 5px;
  padding-left: 50px;
  padding-top: 10px;
  margin-right: 100px;
  
}
.order_num {
  margin-left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #000;
  color: #fff;
  background: var(--theme-color);
}
@media only screen and (max-width:768px) {
  .order_section,.order_list,.order_num {
    font-size: 25px;
  }
}

/* Recipes */

.menu h1 {
  position: relative;
  top: 15px;
  color:var(--theme-color);
  font-weight: 650;
  letter-spacing: 3px;
  top: 80px;
  z-index: 1;
}
.foodContainer {
  margin:  50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}
.recipe {
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 0 0 5px #333333;
  border: 1px solid var(--theme-color);
  position: relative;
  cursor: pointer;
}
.recipe img {
  width: 100%;
}
.recipe h3 {
  position: relative;
  margin: 15px 15px;
  color:var(--theme-color);
}
.recipe h3:before {
  content: '';
  position: absolute;
  background-color: var(--theme-color2);
  width: 100px;
  height: 5px;
  top: 40px;
  left: 0;
}
.recipe button {
  width: 100px;
  height: 35px;
  border:  1px solid var(--theme-color2);
  background: none;
  margin: 25px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  color: var(--theme-color2);
  font-weight: 600;
}
.recipe > span {
  color:var(--theme-color);
  position: absolute;
  bottom: 8px;
  right: 10px;
  font-size: 25px;
  font-weight: 600;
}
@media only screen and (max-width:1000px){
  .foodContainer {
    display: block;
    width: 400px;
    position: relative;
    left: 45%;
    transform: translateX(-55%);
    margin-top: 100px;
  }
  .recipe {
    margin-bottom: 50px;
  }
  .recipe > span {
    bottom: 15px;
    right: 5px;
  }
}
/* form */
.recipeContainer {
  position: absolute;
  padding: 25px 0 ;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  width: 800px;
  height: 550px;
  border-radius: 15px;
  box-shadow: inset -1px -1px 2px rgba(0,0,0,.2),
                2px 2px 5px rgba(0,0,0,.2);
}
.line2 {
  margin-top: 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: var(--theme-color2);
  width: 100px;
  height: 5px;
}
.urOrder {
  color: var(--theme-color2);
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}
.orderName {
  color:var(--theme-color);
  font-size: 25px;
  letter-spacing: 1px;
}
.recipeImg {
  width: 50%;
  border-radius: 15px;
}
.recipeImg img {
  width: 100%;
  height: 92%;
  border-radius: 15px;
  margin-left: 5px;
}
.formContainer {
  width: 50%;
}
.formContainer h2 {
  padding-left: 50px;
  font-size: 25px;
  letter-spacing: 1px;
  color: var(--theme-color);
}

.errBuy {
  color: #d63031 !important;
}
.susBuy,.errBuy {
  position: relative;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 800px;
  height: 50px;
  line-height: 50px;
  background: #00b894;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 19px;
  font-weight: 550;
  letter-spacing: 1px;
  animation: buy .5s ease;

}
@keyframes buy {
  0%{
   opacity: 0;
  }
  100% {
   opacity: 1;
  }
}
.recipeForm {
  width: 100%;
  padding-left: 50px; 
}
.txtBox input {
  width: 90%;
  background:none;
  border: none;
  outline: none;
  padding: 15px 15px 5px;
  margin: 25px;
  border-bottom: 1px solid var(--theme-color2);
  font-size: 18px;
  letter-spacing: 1px;
  color: #581b98;
}
.txtBox input:focus {
 border-bottom: 2px solid var(--theme-color2);
}
.recipeForm button {
  position: relative;
  left: 30%;
  width: 100px;
  height: 35px;
  border:  1px solid var(--theme-color2);
  background: none;
  margin: 25px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  color: #581b98;
  font-weight: 600;
}
.loading {
  position: relative;
  left: 50%;
  transform: translateX(-70%);
  width: 70px;
  height: 70px;
  background: var(--theme-color);
  border-radius: 50%;
  z-index: -1;
}
.loading:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  top: 10px;
  left: 10px;
}
.loading:after {
  content: '';
  position: absolute;
  left: 30px;
  width: 10px;
  height: 80px;
  background-color: #fff;
  animation: load 2.5s linear infinite;
}
@keyframes load {
  0% {
    transform: rotate(360deg);
  } 100% {
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 768px){
  .recipeContainer {
    display: block;
    width: 50%;
    border-radius: 15px;
  }
  .formContainer h2 {
    font-size: 18px;
    margin-top: 50px;

  }
  .line2  {
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-10%);
    background: var(--theme-color2);
    width: 100px;
    height: 5px;
  }
    .recipeImg  img {
      width: 300px;
      margin-left: -50px;
    }
    .recipeForm {
      width: 300px;
      padding: 0;
      margin-left: -50px;
    }
}
    /* Customer Feedback */
.feedback-container {
 padding-top: 80px;
}
.feedback {
  padding: 0 100px 0;
}
.feedback h3{
  height: 80px;
  line-height: 80px;
  color: #fff;
  background-color: var(--theme-color);
  font-weight: 650;
  letter-spacing: 1px;
}
.feedback div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:25px 0 ;
}
.feedback div label {
  padding-left: 15px;
  width: 160px;
  color: var(--theme-color2);
  font-weight: 600;
  letter-spacing: 1px;
}
.feedback div input {
  width: 100%;
  height: 40px;
  margin-left: 5px;
  padding: 15px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid var(--theme-color);
}
.feedback div textarea {
  width: 100%;
  height: 100px;
  margin-left: 5px;
  resize: none;
  padding: 15px;
  border: none;
  background: none;
  outline: none;
  border: 1px solid var(--theme-color);
}
.feedback div input:focus  {
  border-bottom: 2px solid var(--theme-color);
}
.feedback div textarea:focus {
  border: 2px solid var(--theme-color);
}
.feedback .btn button{
  width: 100px;
  height: 35px;
  border:  1px solid var(--theme-color);
  background: none;
  margin: 25px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  color: var(--theme-color);
  font-weight: 600;
}
.customer-feedback h3{
  height: 80px;
  line-height: 80px;
  color: #fff;
  background-color: var(--theme-color2);
  font-weight: 650;
  letter-spacing: 1px;
}
.customer-feedback {
  padding: 100px;
}
.posted-feedback {
  width: 100%;
  height: 300px;
  border: 3px solid var(--theme-color2);
  padding: 20px;
  margin: 50px 0 ;
  color: var(--theme-color2);
  font-size: 20px;

}
.posted-feedback  div {
  margin: 25px 0;
}
.posted-name,.posted-message {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--theme-color2);
  margin: 25px 0;
  font-size: 18px;
  color: #333333;
}
